
project:
  type: website
  render:
    - index.qmd
    - webpage/Tout pour la 6e/Tout_pour_la_6ème.pdf
    - webpage/Tout pour la 5e/tp.qmd

website:
  back-to-top-navigation: true
  page-navigation: true
  title: "mathematiques"
  site-url: https://bossdidiboss.github.io/mathematiques/
  repo-url: https://github.com/BossdiDiboss/mathematiques
  repo-actions: [source,issue]
  navbar:
    title: "Mathématiques Essentielles"
    background: blue
    search: true
    left:
      - sidebar:cours
  sidebar:
    - id: cours
      title: "Cours"
      collapse-level: 3
      contents:
          - webpage/Tout pour la 6e/Tout_pour_la_6ème.pdf
          - webpage/Tout pour la 5e/tp.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
