.quarto-navbar {
    background-image: url("Mathematiques.png"); /* Chemin relatif à la racine */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100px;
    position: relative;
}

.quarto-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couche semi-transparente */
    z-index: 1;
}

.quarto-navbar * {
    position: relative;
    z-index: 2;
}
